<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eparlato.anotherchecklist"
    android:versionCode="1"
    android:versionName="0.5" >

    <uses-sdk android:minSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        <activity
            android:name="eparlato.anotherchecklist.ListsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="eparlato.anotherchecklist.ItemsActivity"
            android:label="@string/app_name" >
        </activity>

        <provider
            android:name="eparlato.anotherchecklist.contentprovider.MainProvider"
            android:authorities="eparlato.anotherchecklist.contentprovider"
            android:exported="false" >
        </provider>
    </application>

</manifest>